#list .note {
  background-color: #333;
  width: max-content;
  border-radius: 0.625rem;
  box-shadow: 0 1.25rem 3.125rem #0004;
  position: absolute;
  user-select: none;
}

#list .note.centralize {
  transition: top 0.3s ease, left 0.3s ease;
}

#list .control {
  width: 100%;
  height: 2rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: flex;
  justify-content: flex-start;
}

#list .control button.close {
  position: absolute;
  right: 0;
}

#list .control:hover {
  cursor: grab;
}

#list .note button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

#list textarea {
  all: unset;
  color: #d6d6d6;
  word-wrap: break-word;
  padding: 0.625rem;
  resize: none;
}

#list textarea::-webkit-scrollbar {
  width: 0.25rem;
  transition: width 250ms;
}

#list textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
}

#list textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.4);
  border-radius: 0.625rem;
}

#list textarea:hover::-webkit-scrollbar {
  width: 0.375rem;
}
